<div class="content content-fluid" style="padding-top: 110px;">
    <div class="container">
        <div class="module container-fluid">
            <div class="list">
                <h2> Listado de vaquinhas</h2>
                <table class="table table-d">
                    <thead>
                    <tr>
                        <th class="id">ID </th>
                        <th class="weight">Peso </th>
                        <th class="age">Idade </th>
                        <th class="price">Preço </th>
                        <th class="amount_grass">Pasto x mês </th>
                        <th class="annual_cost">Custo anual </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>Cargando...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>